*{

    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    display: block;
}
img{
 display: block;   

height: 14vw;
width: 18vw;
}
img.long{
    width: 12vw;
    height: 18vw;
}

.topa{
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 154, 1, 0.5);
    height: 15vw;
    
    margin-bottom: 0;
}
.fa-shopping-cart{
    font-size: 3vw;
    color: brown;
}

/* .cart i{
    color: orange;
    font-size: 3vw;
} */
.word{
    align-self: center;
}
span.plain{
    display: inline;
    background-color:white;
}

.word p{
color: maroon;
font-size: 2.5vw;
text-align-last: center;
margin-left: 3vw;


}
.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/* background-color: rgb(163, 241, 163); */
background: rgba(1, 154, 1, 0.5);
    
    
}
.box{
display: flex;
flex-direction: column;
border: none;

margin: 1vw;
height: 25vw;
width: 25w;
justify-content:space-between;
align-items: center;
text-align-last: center;
border-radius: 2vw;
/* background-color: rgba(255, 255, 255, 0.74); */
border: 1px solid #ddd;






}
.box p{padding: 0.5vw;
 font-size:1.4vw;               
}


.circle{
    clip-path: circle();
}
.order{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.order p{
    margin-left: 3vw;
}
span{
    display: block;
    background-color:greenyellow;
    padding: 0.4vw;
    color: maroon;
    font-weight: bold;
    font-size: clamp(0.7em, 1.3vw, 2vw);
    border-radius: 0.3vw;
    
    
}
.order :nth-child(2){
    font-weight: bold;
    font-size: clamp(0.5rem, 1vw, 2rem);
    color:orangered;
}
.order :nth-child(2):hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
    transition: 2s;
    transform: rotate(2deg);
    
}
em.upa{
    margin-top: -6vw;
}
.logo{

    margin-top: 3vw;
}
img.small{
    width: 6vw;
    height: 5vw;
}
@media screen and (max-width: 768px){
.all{
display: flex;
flex-direction: row;
flex-wrap: wrap;




}
.box{
    width: 90%;
    margin: 0 auto;
    border-radius: 0;
    border-bottom: 1px solid black;
    height: 52vw;
}
.circle, img.long{
width: 30vw;
height: 25vw;

}
span{
    font-size: clamp(1rem, 2vw, 3vw);
}
span.plain{
    font-size: clamp(0.7rem, 1.3vw,2vw);
}

.order :nth-child(2){
    font-size: clamp(0.5rem, 0.9rem, 1.5rem);
}
em{
    font-size: clamp(0.7rem, 1.2rem,1.7rem);
    margin-bottom: 3vw;
}
    
}